body {
  font-family: "Lato", sans-serif;
  background-color: #f5f5f7;
}
header {
  font-family: "Lato", sans-serif;
  background-color: #f5f5f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
}

#plus-column-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  background: #0075de;
  /* up */
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

#plus-column-button:hover,
#plus-column-button:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 40px;
}

#plus-column-button:focus {
  outline: none;
}

.delPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0;
  text-align: center;
}
.delPopup:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.delPopup-inner {
  display: inline-block;
  padding: 24px;
  width: 400px;
  height: 138px;

  background: #fff;
  font-size: 20px;
  vertical-align: middle;
  /*

  display: inline-block;
  padding: 20px 30px;
  background: #fff;
  width: 200px;

  font-size: 15px;
  */
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 6px;
}

.site-title {
  width: 250px;
  height: 46px;
  left: 80px;
  top: 33px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #010101;
  padding-top: 20px;
  padding-left: 60px;
}

.menu-button {
  border: none;
  background: none;
}

.menu-button svg {
  padding-top: 50px;
  margin-right: 50px;
  float: right;
  background: none;
  border: none;
}

.menu-button svg:hover > path {
  fill: rgb(227, 122, 10);
}

.menu-screen {
  background-color: white;
  float: right;
  width: 400px;
  height: 1000px;
  z-index: 1;
  position: relative;
}

.menu-content {
  background-color: rgb(214, 247, 210);
  width: 80%;
}

.close-button {
  border: none;
  background: none;
  float: right;
  margin: 20px;
  padding-right: 10px;
}

.close-button svg:hover > path {
  fill: red;
}

.menu-content {
  margin-top: 50px;
  margin-left: 30px;
}

.column-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin: 10px 10px auto 10px;
  padding: 30px;
  flex-grow: 0;
}

.havetodo-container {
  padding: 16px;
  margin-right: 30px;
  width: 300px;
  height: max-content;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  border-radius: 6px;
  order: 1;
}

.doing-container {
  padding: 16px;
  margin-right: 30px;
  width: 300px;
  height: max-content;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  border-radius: 6px;
  order: 2;
}

.done-container {
  padding: 16px;
  width: 300px;
  height: max-content;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
  border-radius: 6px;
  order: 3;
}

.container-title {
  width: 300px;
  height: 26px;
  padding-bottom: 10px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #010101;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.count {
  width: 26px;
  height: 26px;
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #010101;
  border-radius: 15px;
  background-color: rgb(163, 160, 160);
}

.plus-x-button {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 auto;
}

.plus-button {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  justify-content: center;
  background: none;
  border-radius: 20px;
  border: none;
}

.x-button {
  width: 25px;
  height: 25px;
  justify-content: center;
  background: none;
  border-radius: 20px;
  border: none;
}

.plus-button:hover {
  background-color: #f9d2b2;
  color: #333;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.x-button:hover {
  background-color: #f9d2b2;
  color: #333;
}

.x-content-button {
  width: 25px;
  height: 25px;
  justify-content: center;
  background: none;
  border-radius: 20px;
  border: none;
}

.x-content-button svg:hover > path {
  fill: rgb(244, 10, 10);
}

.modify-content-button {
  width: 25px;
  height: 25px;
  justify-content: center;
  background: none;
  border-radius: 20px;
  border: none;
}

.modify-content-button svg:hover > path {
  fill: rgba(218, 35, 145, 0.5);
}

.todolist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  margin-bottom: 10px;
  /*width: auto;*/
  width: 280px;
  height: 108px;
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: white;
}

.list-header {
  display: block;
}

.list-title {
  width: 252px;
  height: 23px;
  font-weight: 700;
  font-size: 16px;
  color: #010101;
  padding-bottom: 10px;
}

.caption {
  width: 252px;
  height: 20px;
  font-size: 14px;
  color: #010101;
}

.modal-button {
  display: flex;
  gap: 10px;
}

/*여기 수정하기*/
#title-input {
  border: none;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}
#caption-input {
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

#cancel-button,
.undo-popup {
  width: 135px;
  align-items: flex-start;
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  height: 40px;
  background: #e0e0e0;
  border-radius: 6px;
  border: none;
}

#add-button,
.del-popup {
  width: 135px;
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  height: 40px;
  background: #0075de;
  border-radius: 6px;
  border: none;
}

.title-input {
  border: none;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.caption-input {
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.popup-text {
  float: left;
  margin-bottom: 20px;
}

.popup-button {
  float: right;
  gap: 10px;
  justify-content: end;
  margin-bottom: 20px;
  margin-top: 30px;
}

.cancel-button,
.undo-popup {
  width: 135px;
  align-items: flex-start;
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  height: 40px;
  background: #e0e0e0;
  border-radius: 6px;
  border: none;
}

.modify-button,
.add-button,
.del-popup {
  width: 135px;
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  height: 40px;
  background: #0075de;
  border-radius: 6px;
  border: none;
}

.hidden {
  display: none;
}

.open-modal {
  padding: 16px;
  margin-bottom: 10px;
  /*width: auto;*/
  width: 280px;
  height: 108px;
  background: #ffffff;
  border-radius: 6px;
}

#open-modal-todo {
  padding: 16px;
  margin-bottom: 10px;
  /*width: auto;*/
  width: 280px;
  height: 108px;
  background: #ffffff;
  border-radius: 6px;
}

#open-modal-doing {
  padding: 16px;
  margin-bottom: 10px;
  /*width: auto;*/
  width: 280px;
  height: 108px;
  background: #ffffff;
  border-radius: 6px;
}

#open-modal-done {
  padding: 16px;
  margin-bottom: 10px;
  /*width: auto;*/
  width: 280px;
  height: 108px;
  background: #ffffff;
  border-radius: 6px;
}
